<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form-signin">
    <div class="card p-4">

      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="4">
          <ion-img style="width: 120px" alt="SITU logo" src="/assets/images/logo.png"></ion-img>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>

      <ion-item class="mb-2">
        <ion-input type="number" placeholder="DNI"></ion-input>
      </ion-item>

      <ion-item class="mb-2">
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item class="mb-2">
        <ion-input type="text" placeholder="Repetir Email"></ion-input>
      </ion-item>

      <ion-item class="mb-2">
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-item class="mb-2">
        <ion-input type="password" placeholder="Repetir Contraseña"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col size="12">
          <ion-img width="100" alt="recaptcha" src="/assets/images/recaptcha.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-button color="primary" expand="block" (click)="goTo('inicio')">Registrar</ion-button>

      <ion-button color="medium" expand="block" (click)="goTo('ingresar')">Volver</ion-button>

    </div>
  </form>
</ion-content>