<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
    <ion-icon name="arrow-back" mode="ios" slot="end" size="large" (click)="goHome()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-avatar>
        <img alt="Foto de perfil" src="/assets/images/sinfoto.png">
      </ion-avatar>

      <ion-item>
        <ion-label>Nombre/s: </ion-label>
        <p>Karen</p>
      </ion-item>

      <ion-item>
        <ion-label>Apellido/s: </ion-label>
        <p>Villaba</p>
      </ion-item>

      <ion-item>
        <ion-label>DNI: </ion-label>
        <p>00.000.000</p>
      </ion-item>

      <ion-item>
        <ion-label>Edad: </ion-label>
        <p>??</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" value="apruebenos@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Repetir contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button color="primary" expand="block" (click)="guardarCambios()">Guardar cambios</ion-button>
  <ion-button color="medium" expand="block" (click)="goHome()">Cancelar</ion-button>
</ion-content>