<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Horarios
    </ion-title>
    <ion-icon name="arrow-back" mode="ios" slot="end" size="large" (click)="goHome()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- detectar ubicacion y mostrar mapa con paradas cercanas -->
  <!-- una vez elegida la parada debe salir un filtro para las lineas -->

  <!-- ion-nav -->

  <ion-row>
    <ion-row class="mapouter">
      <div class="gmap_canvas"><iframe id="gmap_canvas"
          src="https://maps.google.com/maps?q=utn%20Campana&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
          scrolling="no" marginheight="0" marginwidth="0" style=" width: 100%; height: 100%;"></iframe></div>
      <style>
        .mapouter {
          position: fixed;
          text-align: right;
          width: 100%;
          height: 122%;
        }

        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          width: 100%;
          height: 122%;
        }
      </style>
    </ion-row>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!mostrarHorarios">
    <ion-fab-button (click)="presentAlertPrompt()">
      <ion-icon name="md-bus"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card style="margin-top: 93%;" *ngIf="mostrarHorarios" mode="md">
    <ion-card-header class="py-2 mt-1">
      <ion-row>
        <ion-col size="10">
          <ion-label style="font-size: initial;">Próximos colectivos</ion-label>
        </ion-col>
        <ion-col style="text-align: end;  font-size: large;" size="2" (click)="cerrarMostrarHorarios()">
          <ion-icon name="close"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="py-1">
        <ion-item>
          <ion-col size="8" style="font-size: smaller;">
            <ion-label>Carolina Diaz<br>1748</ion-label>
          </ion-col>
          <ion-col style="text-align: end; font-size: smaller;" size="4">
            5 min
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col size="8" style="font-size: smaller;">
            <ion-label>Juan Castro<br>1723</ion-label>
          </ion-col>
          <ion-col style="text-align: end; font-size: smaller;" size="4">
            25 min
          </ion-col>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>