input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ion-content {
  --ion-color-primary: rgb(255, 166, 0);
}

ion-toolbar {
  --background: #ffc04e;
}

.alert-input-group.sc-ion-alert-md,
.alert-message.sc-ion-alert-md {
  padding-top: 0px;
  padding-bottom: 0px;
}

.sc-ion-card-md-h {
  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  background-color: white;
}

.vertical-align // para alininear verticalmente texto en un div
 {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}

ion-avatar {
  width: 84px;
  height: 84px;
  margin: 0 auto;
}
