input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ion-content{
  --ion-color-primary: rgb(255, 166, 0);
}

ion-toolbar {
  --background: #FFC04E;
}