<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trafico
    </ion-title>
    <ion-icon name="arrow-back" mode="ios" slot="end" size="large" (click)="goHome()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 70%; width: 100%; display: block;"></div>
  <!-- solicitar acceso a la geolocalizacion -->
  <!-- buscar la ubicacion actual -->
  <!-- marcar en el mapa el trafico -->
  <!-- permitir cambiar de ubicacion -->
</ion-content>