<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form-signin">
    <div class="card p-4">

      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="4">
          <ion-img style="width: 120px" alt="SITU logo" src="/assets/images/logo.png"></ion-img>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>

      <ion-item class="mb-2">
        <ion-input type="number" placeholder="DNI"></ion-input>
      </ion-item>

      <ion-item class="mb-2">
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col size="12">
          <ion-img width="100" alt="recaptcha" src="/assets/images/recaptcha.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-checkbox></ion-checkbox> Mantener sesión
        </ion-col>
      </ion-row>

      <!-- <button type="button" class="btn btn-primary btn-block" (click)="goTo('home')">Ingresar</button> -->
      <ion-button color="primary" expand="block" (click)="goTo('home')">Ingresar</ion-button>

      <!-- <button type="button" class="btn btn-secondary btn-block" (click)="goTo('home')">Omitir</button> -->
      <ion-button color="medium" expand="block" (click)="goTo('home')">Omitir</ion-button>

      <ion-row>
        ¿No tenés una cuenta? <a (click)="goTo('register')"><span
            class="text-primary show-pointer">Registrate</span></a>
      </ion-row>
    </div>
  </form>
</ion-content>