<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Alertas</ion-title>
      <ion-icon name="arrow-back" mode="ios" slot="end" size="large" (click)="goHome()"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <!-- Nota importante: en angular usamos el evento "keyup" y en ionic en cambio usamos "ionInput" -->
  <!-- <ion-searchbar (ionInput)='buscar($event)' placeholder="Buscar alertas..." animated inputmode="search">
  </ion-searchbar> -->
  <ion-searchbar placeholder="Buscar alertas..." animated>
  </ion-searchbar>

  <!-- Barra de carga -->
  <ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>

  <div *ngIf="!cargando">
    <h6 class="text-center" *ngIf="!alertas.length">Sin resultados</h6>

    <ion-card *ngFor="let info of alertas">
      <ion-card-content>
        <ion-row>
          <ion-col size="12">
            <ion-text color="dark">
              <h2>{{info.titulo}}
                <ion-icon mode="md" name="open"></ion-icon>
              </h2>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <small>
              {{info.subtitulo}}
            </small>
          </ion-col>
          <ion-col size="12">
            {{info.fecha | date: 'dd/MM/yyyy'}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>