<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hacer denuncia
    </ion-title>
    <ion-icon name="arrow-back" mode="ios" slot="end" size="large" (click)="goHome()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="mb-2">
    <ion-input type="number" placeholder="Linea"></ion-input>
  </ion-item>

  <ion-item class="mb-2">
    <ion-textarea placeholder="Describa aquí el motivo de su denuncia"></ion-textarea>
  </ion-item>

  <ion-item class="mb-2">
    <ion-input type="text" placeholder="Patente"></ion-input>
  </ion-item>

  <ion-item class="mb-2">
    <ion-input type="number" placeholder="Interno"></ion-input>
  </ion-item>


  <ion-button color="primary" expand="block">Denunciar</ion-button>
  <ion-button color="medium" expand="block">Cancelar</ion-button>
</ion-content>