<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-img src="/assets/images/bus.jpg"></ion-img> 
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit,
        sem ut vivamus tortor in tincidunt metus, quisque dictum id magnis tempus nulla.</p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="full">
    <ion-list-header>
      <ion-label>¿En qué te podemos ayudar?</ion-label>
    </ion-list-header>

    <ion-item (click)="goTo('hacer-denuncia')">
      <ion-icon slot="start" name="warning" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">Hacer una denuncia</ion-label>
    </ion-item>

    <ion-item (click)="goTo('horarios')">
      <ion-icon slot="start" name="clock" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">Horarios de los recorridos</ion-label>
    </ion-item>

    <ion-item (click)="goTo('noticias-alertas/noticias')">
      <ion-icon slot="start" name="paper" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">Noticias o alertas</ion-label>
    </ion-item>
  </ion-list>
</ion-content>