<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-icon class="mr-1" name="contact" slot="end" size="large" (click)="opcionesMiPerfil()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" mode="ios">
    <ion-card-header>
      <ion-card-title class="text-center" mode="ios">
        <ion-img style="width: 100%; height: 90px;" src="/assets/images/logo.png"></ion-img>
        Bienvenida a SITU
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-button color="danger" expand="full" size="large" (click)="goTo('reporte-chofer')">Reportar incidencia</ion-button>

  <ion-img src="/assets/images/bus.jpg"></ion-img>

  <ion-list lines="full">
    <ion-list-header>
      <ion-label>¿En qué te podemos ayudar?</ion-label>
    </ion-list-header>

    <ion-item (click)="goTo('hacer-denuncia')">
      <ion-icon slot="start" name="warning" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">Hacer una denuncia</ion-label>
    </ion-item>

    <ion-item (click)="goTo('horarios')">
      <ion-icon slot="start" name="clock" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">Horarios de los recorridos</ion-label>
    </ion-item>

    <ion-item (click)="goTo('noticias-alertas/tabs/noticias')">
      <ion-icon slot="start" name="paper" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">Noticias</ion-label>
    </ion-item>

    <ion-item (click)="goTo('noticias-alertas/tabs/alertas')">
      <ion-icon slot="start" name="notifications" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">Alertas</ion-label>
    </ion-item>
  </ion-list>
</ion-content>