<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hacer denuncia
    </ion-title>
    <ion-icon
      name="arrow-back"
      mode="ios"
      slot="end"
      size="large"
      (click)="goHome()"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Lugar del incidente</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Mi ubicación actual</ion-label>
          <ion-radio
            slot="start"
            value="ubicacionActual"
            (ionSelect)="otroLugar = false"
          ></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Otro lugar</ion-label>
          <ion-radio
            slot="start"
            value="otroLugar"
            (ionSelect)="otroLugar = true"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item *ngIf="otroLugar">
        <ion-label class="mt-3" position="floating">Ciudad:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="otroLugar">
        <ion-label class="mt-1" position="floating">Calle y altura:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>¿Cuándo ocurrió el incidente?</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Fecha y hora actual</ion-label>
          <ion-radio
            slot="start"
            value="FHactual"
            (ionSelect)="otraFH = false"
          ></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Especificar</ion-label>
          <ion-radio
            slot="start"
            value="otraFH"
            (ionSelect)="otraFH = true"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item *ngIf="otraFH">
        <ion-label class="mt-3" position="stacked"
          >Fecha del incidente:</ion-label
        >
        <ion-input type="date"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item class="mb-2">
        <ion-label position="floating">Línea:</ion-label>
        <ion-input type="number" value="276"></ion-input>
      </ion-item>

      <br />
      <ion-label>¿Se trata sobre un colectivo en específico?</ion-label>
      <br />
      <div class="vertical-align">
        <ion-label>No</ion-label>
        <ion-toggle
          class="ml-1 mr-1"
          [(ngModel)]="colectivoEspecifico"
        ></ion-toggle>
        <ion-label>Sí</ion-label>
      </div>

      <ion-item class="mt-3" *ngIf="colectivoEspecifico">
        <ion-label position="floating">Patente:</ion-label>
        <ion-input type="text" value="AAA-000"></ion-input>
      </ion-item>

      <ion-item *ngIf="colectivoEspecifico">
        <ion-label position="floating">Interno:</ion-label>
        <ion-input type="number" value="1700"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <!-- Nota importante: el atributo "disabled" lo dejé entre corchetes para que funcione en chrome por lo menos -->
      <ion-button
        color="primary"
        [disabled]="suficientesArchivos"
        (click)="cargarFoto()"
        >Cargar fotos</ion-button
      >
      <br />
      <small>Máximo 3 fotos y 5mb en total!</small>
      <br />

      <ion-row *ngIf="fotos.length > 0">
        <ion-col *ngFor="let foto of fotos" size="12">
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail>
                <ion-img src="{{foto.miniatura}}" alt="miniatura"></ion-img>
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9">
              <div class="vertical-align">
                {{foto.peso}}Mb
                <ion-icon
                  class="pull-right"
                  name="close"
                  size="large"
                  color="danger"
                  (click)="descartarFoto(foto.id)"
                >
                </ion-icon>
              </div>
              <small>{{foto.nombre}}{{foto.formato}}</small>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-label class="ml-2">Descripción:</ion-label>
  <ion-item class="mb-2">
    <ion-textarea
      placeholder="Por favor, describa aquí el motivo de su denuncia"
    ></ion-textarea>
  </ion-item>

  <ion-button color="primary" expand="block" (click)="denunciar()"
    >Denunciar</ion-button
  >
  <ion-button color="medium" expand="block" (click)="goHome()"
    >Cancelar</ion-button
  >
</ion-content>
