<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hacer denuncia
    </ion-title>
    <ion-icon name="arrow-back" mode="ios" slot="end" size="large" (click)="goHome()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Lugar del incidente</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Mi ubicación actual</ion-label>
        <ion-radio slot="start" value="ubicacionActual" (ionSelect)="otroLugar = false"></ion-radio>
      </ion-item>

      <!-- Falta agregar la opcion "Marcar en el mapa" -->

      <ion-item>
        <ion-label>Otro lugar</ion-label>
        <ion-radio slot="start" value="otroLugar" (ionSelect)="otroLugar = true"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item class="mb-2" *ngIf="otroLugar">
    <ion-label>Calle y altura:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Fecha y hora</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Usar actual</ion-label>
        <ion-radio slot="start" value="FHactual"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Otra</ion-label>
        <ion-radio slot="start" value="otraFH"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item class="mb-2">
    <ion-label>Linea:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Es un colectivo en especifico?</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio slot="start" value="siC" (ionSelect)="colectivoEspecifico = true"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="noC" (ionSelect)="colectivoEspecifico = false" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item class="mb-2" *ngIf="colectivoEspecifico">
    <ion-label>Patente:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item class="mb-2" *ngIf="colectivoEspecifico">
    <ion-label>Interno:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item class="mb-2">
    <ion-label>Motivo:</ion-label>
    <ion-textarea placeholder="Describa el motivo de su denuncia"></ion-textarea>
  </ion-item>

  <ion-button color="primary" expand="block">Denunciar</ion-button>
  <ion-button color="medium" expand="block">Cancelar</ion-button>
</ion-content>